.nav ul>li .sub-menu{
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}
.nav ul>li:hover .sub-menu{
    z-index: 2;
    background: black;
    margin-top: 3rem;
    opacity: 1;
    border-radius: 5px;
}
.sub-menu li{
    padding:10px 0;
    border-bottom: 1px dotted #fff;
}.sub-menu li:last-child{
    border:none;
}

.sub-menu>li{
    display: block;
}