@import url(https://fonts.googleapis.com/css?family=Open+Sans'');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family:'alice', Arial, sans-serif ;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}


/*font-family: 'Open Sans', sans-serif;*/

@font-face {
    font-family: 'alice';
    src: url('bebasneue_regular-webfont.eot');
    src: url('bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('bebasneue_regular-webfont.woff') format('woff'),
    url('bebasneue_regular-webfont.ttf') format('truetype'),
    url('bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
p,a {
    font-family: 'Open Sans';
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 9rem;
    color: white;
    line-height: 6.5rem;
}
h2{
    font-size: 4.8rem;
    color: white;
    font-weight: bold;

}
h3{
    font-size: 3.6rem;
    color: white;
}
.container{
width: 940px;
    margin: 0 auto;
}
.fl_align{
line-height: 50%;
}
/*-----------HEADER------------*/
.clearfix:before , .clearfix:after{
    content: " ";
    display: block;
    clear: both;
}
#title{
    background: url("../img/background_top.jpg") no-repeat top center/cover;
    height: 50rem;
}

header h3{
color: white;


}
#title{
    padding: 12.5rem 0 0 6rem;
}
/*-NAV-*/

nav{
    background: #252222;
    height: 10rem;
} #nav_left{
    float: left;
    line-height: 100px;
  }
#nav_right{
    line-height: 100px;
    float: right;
    height: 9rem;
}
#nav_right li {
margin-right: 2.4rem;
    font-size: 1.8rem;
    display: inline-block;
    vertical-align: bottom;
}
#nav_right li a{
    color: white;
    font-size: 1.8rem;
    font-family: 'alice', Arial, sans-serif;
}

#nav_right ul {
    display: inline-block;
    vertical-align: bottom;
}
#social {
    margin-bottom: -0.35rem; *

    margin-left: 7rem;
}
#social [class^="flaticon-"]:before, #social [class*=" flaticon-"]:before,
#social  [class^="flaticon-"]:after, #social [class*=" flaticon-"]:after {
    font-size: 3rem;
 }
/*-----------PORFOLIO-----------*/
.block{
    position: relative;
    overflow: hidden;
}
.overlay{
    background-color: rgba(101, 186, 153, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left:-100%;
    bottom:0;
    opacity: 0;
    transition: all 400ms linear ;
    text-align: center;
}#portfolio span{
     color: white;
    font-size: 3.5rem;
 }
 #portfolio ul{
     position: absolute;
     bottom: 10% ;
     width: 100%;
 }
 #portfolio li{
     display: inline-block;
     margin: 0 1rem;
 }
 .flaticon-photo{
     position: absolute;
     top: 45%;
 }
.imgblock img {
    min-width: 100%;
    min-height: 100%;
}
.block:hover .overlay{
    opacity: 1;
    left: 0px;
}
#portfolio{
    background: #65ba99;
    padding-bottom: 10rem;
}
#portfolio .container{
    padding-top: 8rem;
}
#portfolio_title{
    text-align: center;
    margin-bottom: 5rem;
}
#portfolio_title h4{
      color: white;
    font-size: 2.4rem;
}
.resize_men{
    display: block;
    width: 23.5rem;
    height: 23.5rem;
}
.resize_large_img{
    float: left;
    width: 47rem;
    height: 23.5rem;
}
/*-----BANNER----*/

#banner{
    background: url("../img/femme.jpg") no-repeat center center/cover;
    padding: 12rem 0rem;
}
#banner h3{
    text-align: center;

}
#banner p{
    color: white;
    font-size: 2.4rem;
    font-family: 'alice', Arial, sans-serif;
    text-align: right;
    position: relative;
    top: 3.5rem;
    right: 13rem;
}
/*------NEWS------*/

#news{
    background: #cdcdcd;
    font-family: "Open Sans";
    padding-bottom: 8rem;
}
#news_left{
display: inline-block;

}
#news h2{
    color: black;
    text-align: center;
    padding: 7.5rem  6.5rem  ;
}
#news_left{
    display: inline-block;
    font-size: 1.2rem;
    width: 46rem;
    vertical-align: top;
}
#news_left a:first-child{
    color: white;
    background:#59a386 ;
    padding: 0.4rem 2rem ;
    display: inline-block;
    font-size: 1.1rem;
}
#tag_left {
    float: right;
    font-style: italic;
}
#tag_left span:first-of-type{
    color: #a1cbc5;
}
#tag_left a {
color: #f18980;
}
#news_left h4{
    margin: 2.5rem 0 1.5rem 0;
    font-size: 1.6rem ;
    color: #59a386 ;
}
#news_left p:first-of-type{
    margin: 1.5rem 0 3rem 0;
    font-size: 1.4rem;
    color: #666767;
}
#read_more{
    float: right;
    color: #ee8d89;
    font-size: 1.4rem;
}

#news_right{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-left: 7rem;
}
#news_right h5{
    font-size: 1.8rem;
    color: #59a386;
    font-family: 'alice', Arial, sans-serif;
    margin: -0.1rem 0 2.5rem 0;
}
#tags a {
font-size: 1.4rem;
    color: white;
    background: #59a386;
    margin: 0.5rem 0.5rem ;
    padding:0.35rem 1rem ;
    display: inline-block;
}
#tags a:hover{
    background: #e2534b;
}

#news_right article:nth-of-type(2){
    margin-top: 5.5rem ;
}
#news_right article:nth-of-type(2) h4 span{
       color: #818181;
    font-style: italic;
    font-family: 'Open Sans';
    font-size: 2rem;
    margin-right: 0.5rem;
}
#news_right article:nth-of-type(2) h4{
font-size: 2rem;
margin-bottom: 2.5rem;

}
#news_right img{
float: left;
    margin-right: 1rem;
}
#news_right article{
    font-family: 'Open Sans';
    font-size: 1.3rem;
    line-height: 2rem;
    color: #252222;
}
#news_right article span{
    color: #e2534b;
}
#news_right article:last-of-type{


}
/*---------APN----------*/
#apn{
    padding: 3rem 0rem ;
   background:#bebebe;
}
#apn div img{
    padding: 4.5rem 2.5rem;
    display: inline-block;
    vertical-align: bottom;
}
#apn img:nth-of-type(3){
    position: relative;
    top:1rem;

}
#apn img:nth-of-type(4){
    position: relative;
    top:0.4rem;

}
/*--------------BIO------------------*/
#bio{
    background:#e2534b ;
}
#bio h2{
    color: black;
    padding: 5rem;
    text-align: center;
}
#bio_left{
    display: inline-block;
    width: 46rem;
    text-align: center;
}
#bio_left img{
    margin:3.5rem ;
}
#bio_left li{
    display: inline-block;
}
#bio_left a{
    font-size: 4.8rem;
    color: white;
    margin-right:1.2rem ;
}

#bio_right{

}


