@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: .625em; /* fallback IE8+ */
    font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    font-size: 62.5%;
}
body{
    width: 32rem;
    font-family: 'Montserrat', sans-serif;
}
.container{
    padding: 0 2rem 0 2rem;
}
a {
    text-decoration: none;
    color: white;
}
/*********************ICON*************************/

/*
  Flaticon icon font: Flaticon
  Creation date: 08/08/2016 14:28
  */

@font-face {
    font-family: "Flaticon";
    src: url("../css/Flaticon.eot");
    src: url("../css/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../css/Flaticon.woff") format("woff"),
    url("../css/Flaticon.ttf") format("truetype"),
    url("../css/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-arrow-point-to-right:before { content: "\f100"; }
.flaticon-menu:before { content: "\f101"; }

/*---------NAV-------*/
nav{
    background:#373c3f ;
    height: 4rem;
}
#nav{
    display: none;
}
nav span{
    float: right;
    background: #202529;
    color: white;
    padding: 1rem;
}
nav h2{
    font-size: 2.4rem;
    color: white;
    padding-left:  2rem;
    line-height: 4rem;
}

#content_header{
    height: 17.5rem;
    background: rgb(25,180,198); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(25,180,198,1) 0%, rgba(7,138,164,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(25,180,198,1) 0%,rgba(7,138,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(25,180,198,1) 0%,rgba(7,138,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b4c6', endColorstr='#078aa4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#content_header h1{
    font-size: 2rem;
    color: white;
    padding:5.5rem 0 1rem 0;
    clear: right;
}
#content_header p{
    font-size: 1.2rem;
    color: #86d2dd;
}
#content_header span {
    color: white;
    float: right;
    font-size: 1rem;
}
/*---------------------SECTION SLIDE---------------*/
#robin_left{
    text-align: center;
    display: block;
    width: 25rem;
    background:#27212c;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(80,70,88,1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(80,70,88,1);
    box-shadow:0px -2px 2px 0px rgba(80,70,88,1);
    color:#766982 ;
    font-size: 1rem;
}
#robin_left p{
    line-height: 7.5rem;
    height: 7.5rem;

}

#robin_right{
float: right;
    height: 7.5rem;
    width: 7rem;
    background: #bc3183;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(240,96,228,1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(240,96,228,1);
    box-shadow: 0px -2px 2px 0px rgba(240,96,228,1);
}
#robin_right span{
    position: relative;
    text-align: center;
    display: block;
    top:50%;
    transform: translateY(-50%);
    color:white;
}
#arrow{
    background: #5b0fa1;
    height: 27.5rem;
    -webkit-box-shadow: 0 -2px 2px 0px rgba(154,26,222,1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(154,26,222,1);
    box-shadow: 0px -2px 2px 0px rgba(154,26,222,1);
}
#arrow span{

    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    margin: auto;
    width: 20px;
    font-size: 3rem;
}
#slide img{
    height: 27.5rem;
    width: 32rem;
}
/*-----------FOOTER-------------*/
#footer{
    background: #ebebeb;
}
#footer h2{
    padding: 3.5rem 0 2rem 1.5rem;
    color: #088ca5;
    font-size: 2.4rem;
}
#footer h2+p {
    padding-left: 1.5rem;
    padding-right: 3rem;
    color: #515151;
    line-height: 1.5rem;
    font-size: 1rem;
}
#footer span{
    display: none;
}
#footer br{
    margin-bottom: 2rem;
}
@media screen and (min-width: 640px){
    .container{
        padding: 0 3.5rem 0 3.5rem;
    }
    body{
        width: 64rem;
    }
nav {
    height: 7.5rem;
}
    nav span{
        padding: 2.4rem;
        font-size: 2.4rem;
    }
    nav h2{
        padding-left: 3.5rem;
        line-height: 7.5rem;
    }
    #content_header {
        height: 35rem;
    }
    #content_header h1{
        font-size: 4rem;
        padding: 12rem 0 3.5rem 0;
    }
    #content_header p{
    font-size: 2rem;
    }
    #content_header span {
        font-size: 2rem;
        padding-right: 9rem;
    }
    /*---------------------SECTION SLIDE---------------*/
    #robin_left{
        height: 14.5rem;
        width: 50rem;
    }
    #robin_right {
        width: 14rem;
        height: 14.5rem;
    }
    #robin_left p{
        font-size: 2rem;
        line-height: 14.5rem;
    }
    #robin_right span{
        font-size: 1.5rem;
    }
    #slide img{
        height: 55.5rem;
        width: 64rem;
    }


    #footer h2{
      padding: 7rem 0 6rem 5rem;
        font-size: 3rem;
    }
    #footer h2>p{
        font-size: 1.5rem;
        line-height: 3rem;
    }
}
@media screen and (min-width: 980px){
 .container{
     padding: 0 5rem 0 5rem;
 }
    body{
        width: 98rem;
    }
    nav {
        height: 10rem;
    }
    nav a{
        margin-right: 2rem;
    }
    nav h2{
        display: none;
    }
    #nav , #nav li{
        line-height: 10rem;
        display: inline-block;
        font-size: 2rem;
    }
    nav span{
       display: none;
    }
    #content_header {
        height: 55rem;
    }
    #content_header h1{
        font-size: 6rem;
        padding-top: 20rem;
        padding-bottom: 6rem;
    }
    #content_header span{
        padding-right: 19rem;
    }
    /*---------------------SECTION SLIDE---------------*/
    #robin_left{
        height: 23.5rem;
        width: 76.5rem;
    }
    #robin_left p{
        font-size: 3rem;
        line-height: 23.5rem;
    }
    #robin_right{
        width: 22rem;
        height: 23.5rem;
    }
    #robin_right span{
        font-size: 2.5rem;
    }
    #arrow , #slide img{
        float: left;
        width: calc(980px/3);
        height: 28rem;
        -webkit-box-shadow: 0 0px 0px 0px rgba(154,26,222,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(154,26,222,1);
        box-shadow: 0px 0px 0px 0px rgba(154,26,222,1);
    }
    /*-----------FOOTER-------------*/
    #footer{
        clear: both;
    }
    #footer h2{
        padding: 7rem 0 3rem 5rem;
        font-size: 3.2rem;
    }
    #footer span,    #footer h2+p{
        width: 45%;
        display: inline-block;
        vertical-align: top;
        font-size: 2rem;
        line-height: 4rem;
        color: #515151;
    }





}
