@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@font-face {
    font-family:"Ardecode";
    src: url("../font/ARDECODE.eot");
    src: url('../font/ARDECODE.eot?#iefix') format('embedded-opentype'),
url("../font/ARDECODE.woff") format("woff"),
url("../font/ARDECODE.ttf") format("truetype"),
url("../font/ARDECODE.svg") format("svg");
    font-weight: normal;
    font-style:normal;
}
@font-face {
    font-family:"Quicksand";
    src: url("../font/QuicksandLight-Regular.eot");
    src: url('../font/QuicksandLight-Regular.eot?#iefix') format('embedded-opentype'),
    url("../font/QuicksandLight-Regular.woff") format("woff"),
    url("../font/QuicksandLight-Regular.ttf") format("truetype"),
    url("../font/QuicksandLight-Regular.svg") format("svg");
    font-weight: normal;
    font-style:normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    display: flex;
    flex-direction: column;

}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: .625em; /* fallback IE8+ */
    font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
<<<<<<< HEAD
    font-size: 62.5%;
}

body {
    width: 32rem;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 2rem 0 2rem;
}

/*********************ICON*************************/

/*
  Flaticon icon font: Flaticon
  Creation date: 08/08/2016 14:28
  */
=======
}


.container{
padding: 0 8%;
}
a{
    text-decoration: none;
}
/*---------------------HEADER---------------------*/
header{
    background: #2a2e33;
    font-family: 'Droid Sans', sans-serif;;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header_left{
    display: flex;
    align-items: center;
}
#header_left h2{
    font-size: 3rem;
    color: white;
    padding: 3.5rem 0;
    margin-right: 1rem;
}
#header_left h2 span {
    font-size: 3rem;
    color: #ffd700;
}
#header_left h2~span{
    color: #55585c;
    font-size: 1.4rem;
    font-style: italic;
}
nav{
    display: flex;
>>>>>>> flex

}
nav a{
    font-size: 1.3rem;
    color: white;
    padding: 4.35rem 2.25rem;
    position: relative;
}
nav a:before{
    content: " ";
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 0.5rem;
    background: yellow;
    opacity: 0;
    transition: all 200ms linear;
}
nav a:hover:before{
    opacity: 1;
}
nav a:hover{
    background: #1e2329;
}

<<<<<<< HEAD
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
=======
/*-------------HELLO-----------*/
#hello{
    display: flex;
    justify-content: center;
    background: #00ccff;
    text-align: center;
    font-family: "Quicksand";
}
#hello p{
    font-size: 3rem;
    padding: 8.5rem 0 8rem 0;
    color: white;
}
#hello hr{
border: 1px dashed white;
    width: 46rem;
}
#hello h1{
    font-size: 6rem;
    color: white;
    padding: 3rem  3rem;
}
#hello hr:nth-of-type(2){
    width: 34rem;
    border: 1px dashed white;
}
#hello span, #hello h1{
  font-weight: 700;
}
/*-----------------RESERVATION-------------*/
#reservation{
    background: #2a2e33;
    height: 10rem;
    width: 102rem;
    align-self: center;
    position: relative;
    bottom: 5rem;
    -webkit-box-shadow: 0px 6px 13px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 13px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 13px 3px rgba(0,0,0,0.75);
>>>>>>> flex
}

#reservation form{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
#reservation label{
    font-size: 1.4rem;
    color: #ffd700;
}
#reservation input[type] {
    border: none;
    border-radius: 5px;
    padding: 1.5rem 1rem
}
#reservation input[type^="submit"]{
    padding: 1.75rem;
}
#reservation label{
    display: inline-block;
    padding-bottom: 0.5rem;
}
#reservation select[name]{
    border: none;
    border-radius: 5px;
    padding: 1.75rem 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#submit {
    border: none;
    background:#ffd700 ;
    margin-top: 2rem;
    padding: 0.25rem 0;
    font-weight: bold;
}

<<<<<<< HEAD
.flaticon-arrow-point-to-right:before {
    content: "\f100";
}

.flaticon-menu:before {
    content: "\f101";
}

/*---------NAV-------*/
nav {
    background: #373c3f;
    height: 4rem;
}

nav span {
    float: right;
    background: #202529;
    color: white;
    padding: 1rem;
}

nav h2 {
    font-size: 2.4rem;
    color: white;
    padding-left: 2rem;
    line-height: 4rem;
=======


/*------------SLIDER------------*/

#slider h2{
    font-family: "Ardecode";
    font-size: 6rem;
    text-align: center;
    padding-bottom: 2rem;
}
#slider p {
    text-align: center;
    font-size: 1.4rem;
    color: #52565a;
    padding-bottom: 5rem;
}
#carrousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;

}
#carrousel img{
    border-radius: 100%;
    height: 20rem;
    width: 20rem;
    background: white;
    border: 3px solid black;
}
#carrousel span{
    font-size: 4rem;
}
#carrousel span:nth-of-type(1){
    transform: rotate(90deg);
}
#carrousel span:nth-of-type(2){
    transform: rotate(-90deg);
}
/*-----------OUR ROOM-------------*/
#our_room{
text-align: center;
    font-family:"Quicksand" ;
    background:gainsboro;
    padding-bottom: 5rem;
}
#our_room article{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
#our_room img{
    width: 38rem;
    height: 16rem;
    background:#2a2e33 ;
}
#our_room h3{
font-size: 2.4rem;
    padding: 1rem 0;
    font-weight: bold;
}
#our_room p{
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
}
#our_room span{
    font-size: 2rem;
    padding-right: 1rem;
}
#our_room h2{
    font-family: "Ardecode";
    font-size: 6rem;
    text-align: center;
   padding: 5rem 0 4rem 0;
}
#our_room div{
width: 38rem;
    margin: 1rem;
}

/*--------LOCATION ----------*/

#location {
    background: #e7cb2c;
    font-family: "Quicksand";
    color: white;

>>>>>>> flex
}
#location h2{
    padding: 6rem 0 4rem;
    font-size: 4.8rem;
    font-weight: bold;
    clear: left;

<<<<<<< HEAD
#content_header {
    height: 17.5rem;
    background: rgb(25, 180, 198); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(25, 180, 198, 1) 0%, rgba(7, 138, 164, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(25, 180, 198, 1) 0%, rgba(7, 138, 164, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(25, 180, 198, 1) 0%, rgba(7, 138, 164, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19b4c6', endColorstr='#078aa4', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

#content_header h1 {
    font-size: 2rem;
    color: white;
    padding: 5.5rem 0 1rem 0;
    clear: right;
}

#content_header p {
=======
}
#location p{
    font-size: 1.8rem;
    padding-bottom: 2rem;
   font-style: italic;
}
#location .container{
    display: flex;
}
#location img{
    float: right;
padding-left: 15rem;
}
/*-------------FOOTER----------*/
footer {
    background: #333333;
    font-family: "Quicksand";
    color: white;
    text-align: justify;
    padding-bottom: 5rem;

}
footer h3{
    font-size: 1.8rem;
    padding: 2.5rem 0 2rem;
    font-weight: bold;
}
footer p, footer article {
>>>>>>> flex
    font-size: 1.2rem;
}
<<<<<<< HEAD

#content_header span {
    color: white;
    float: right;
    font-size: 1rem;
}

/*---------------------SECTION SLIDE---------------*/

#robin_left {
    text-align: center;
    display: block;
    width: 25rem;
    height: 7.5rem;
    background: #27212c;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(80, 70, 88, 1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(80, 70, 88, 1);
    box-shadow: 0px -2px 2px 0px rgba(80, 70, 88, 1);
    color: #766982;
    font-size: 1rem;
}

#robin_left p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
=======
footer .container{
    display: flex;
    justify-content: space-between;
}
footer .container > article{

>>>>>>> flex
}
#latest_news span{
    color: #ffd700;

<<<<<<< HEAD
#robin_right {
    float: right;
    height: 7.5rem;
    width: 7rem;
    background: #bc3183;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(240, 96, 228, 1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(240, 96, 228, 1);
    box-shadow: 0px -2px 2px 0px rgba(240, 96, 228, 1);
}

#robin_right span {
    position: relative;
    text-align: center;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

#arrow {
    background: #5b0fa1;
    height: 27.5rem;
    -webkit-box-shadow: 0 -2px 2px 0px rgba(154, 26, 222, 1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(154, 26, 222, 1);
    box-shadow: 0px -2px 2px 0px rgba(154, 26, 222, 1);
}

#arrow span {
=======
}
#latest_news article{
    padding-bottom: 1rem;
}
footer article, #latest_news, footer form{
    flex-basis: 22rem;
}
footer article:nth-of-type(2){
    flex-basis: 40rem;
}
footer article:last-of-type a, footer form input[type^="submit"]{
    font-weight: bold;
    float: left;
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    background: #e7cb2c;
    border-radius: 10px;
    position: relative;
    top:1rem;
    border:none;
>>>>>>> flex

}
<<<<<<< HEAD

#slide img {
    height: 27.5rem;
    width: 32rem;
}

/*-----------FOOTER-------------*/
#footer {
    background: #ebebeb;
}

#footer h2 {
    padding: 3.5rem 0 2rem 1.5rem;
    color: #088ca5;
    font-size: 2.4rem;
}

#footer p {
    padding-left: 1.5rem;
    padding-right: 3rem;
    color: #515151;
    line-height: 1.5rem;
    font-size: 1rem;
}

#footer br {
    margin-bottom: 2rem;
}

/*-------DEVICE----640PX-----*/
@media screen and (min-width: 640px) {
    .container {
        padding: 0 3.5rem 0 3.5rem; /**/
    }

    body {
        width: 64rem;
    }

    nav {
        height: 7.5rem;
    }

    nav span {
        padding: 2.4rem;
        font-size: 2.4rem;
    }

    nav h2 {
        padding-left: 3.5rem;
        line-height: 7.5rem;
    }

    #content_header {
        height: 35rem;
    }

    #content_header h1 {
        font-size: 4rem;
        padding: 12rem 0 3.5rem 0;
    }

    #content_header p {
        font-size: 2rem;
    }

    #content_header span {
        font-size: 2rem;
        padding-right: 9rem;
    }

    /*---------------------SECTION SLIDE---------------*/
    #robin {
        height: 14.5rem;
    }

    #robin_left {
        width: 50rem;
        height: 14.5rem;
    }

    #robin_right {
        width: 14rem;
        height: 14.5rem;
    }

    #robin_left p {
        font-size: 2rem;
    }

    #robin_right span {
        font-size: 1.5rem;
    }

    #slide img {
        height: 55.5rem;
        width: 64rem;
    }

    #footer h2 {
        padding: 7rem 0 6rem 5rem;
        font-size: 3rem;
    }

    #footer p {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}
=======
footer label{
    font-size:1.2rem ;
}
#user, #pass{
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black ;
    margin: 0.5rem 0;
    padding: 0.5rem 0.2rem;
}



>>>>>>> flex
