*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    background: #3498db;
    font-family:"helvetica neue", sans-serif;

}
nav{
    padding:5rem 0;
}
a{
    color: #f1c40f;
    font-size:3rem;
    padding-left: 5rem;
    text-decoration: none;
}
section{
    background-color: #2ecc71;
    color: white;
    border: 1px solid #1abc9c;
    margin: 0 10%;
}
.poeme{
    color: #ecf0f1;
    background-color: #2ecc71;
    margin: 0 10%;
}
.active{
    color: #c0392b;
}
