/*Regles communes*/
@import "https://fonts.googleapis.com/css?family=Denk+One|Oswald:700|Share+Tech";
/* line 4, ../sass/_styleBase.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 93, ../sass/_styleBase.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 107, ../sass/_styleBase.scss */
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}

/* line 113, ../sass/_styleBase.scss */
body,
form {
  line-height: 1;
  font-family: 'Share Tech', sans-serif;
}

/* line 119, ../sass/_styleBase.scss */
ul {
  list-style: none;
}

/* line 123, ../sass/_styleBase.scss */
blockquote,
q {
  quotes: none;
}

/* line 128, ../sass/_styleBase.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 136, ../sass/_styleBase.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 141, ../sass/_styleBase.scss */
html {
  font-size: .625em;
  font-size: calc(1em * .625);
}

/* line 146, ../sass/_styleBase.scss */
a {
  text-decoration: none;
  color: inherit;
  outline-style: none;
}

/* line 152, ../sass/_styleBase.scss */
h1 {
  font-family: 'Denk One', sans-serif;
  font-size: 3rem;
  color: white;
  padding-left: 5rem;
}

/* line 159, ../sass/_styleBase.scss */
p {
  font-size: 1.65rem;
}

/* line 163, ../sass/_styleBase.scss */
body {
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  background-image: url("../img/bg02.png");
}

/* line 170, ../sass/_styleBase.scss */
.container {
  padding: 0 3rem;
}

/* line 174, ../sass/_styleBase.scss */
.flex_colum_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/*------effet slide---------*/
/* line 188, ../sass/_styleBase.scss */
#panel {
  box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

/* line 192, ../sass/_styleBase.scss */
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 25.6rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

/* line 205, ../sass/_styleBase.scss */
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

/* line 211, ../sass/_styleBase.scss */
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

/* line 217, ../sass/_styleBase.scss */
.slideout-open .slideout-menu {
  display: block;
}

/* line 221, ../sass/_styleBase.scss */
.toggle-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding-left: 1rem;
  outline: none;
}

/* line 230, ../sass/_styleBase.scss */
.fixed {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  z-index: 2;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  width: 100%;
}

/* line 242, ../sass/_styleBase.scss */
.fixed-open {
  -webkit-transform: translate3d(256px, 0px, 0px);
  transform: translate3d(256px, 0px, 0px);
}

/* line 247, ../sass/_styleBase.scss */
#nav-container {
  /*position: absolute;*/
  font-size: 0.8rem;
}

/*toggle-icon*/
/* line 253, ../sass/_styleBase.scss */
.toggle-icon {
  display: block;
  position: relative;
  /*width: 100%;
  margin: -2.2em auto 0 0.2em;*/
  -webkit-transition: margin 300ms;
  transition: margin 300ms;
  cursor: pointer;
}

/* line 263, ../sass/_styleBase.scss */
.toggle-icon .bar {
  display: block;
  width: 3.8em;
  height: 0.2em;
  margin: 0.9em;
  border-right: 2.8em solid #fff;
  border-left: 0.6em solid #d6d6d6;
  box-sizing: border-box;
  -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
  -webkit-transition-property: margin, border-right-color, box-shadow, -webkit-transform;
  transition-property: margin, border-right-color, box-shadow, -webkit-transform;
  transition-property: transform, margin, border-right-color, box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

/* line 280, ../sass/_styleBase.scss */
.toggle-icon .bar:nth-of-type(1) {
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}

/* line 285, ../sass/_styleBase.scss */
.toggle-icon .bar:nth-of-type(2) {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/*pushed*/
/* line 291, ../sass/_styleBase.scss */
.pushed .toggle-icon {
  margin: -3.2em 0 0 0.7em;
}

/* line 295, ../sass/_styleBase.scss */
.pushed .bar:nth-of-type(1) {
  opacity: 0;
}

/* line 299, ../sass/_styleBase.scss */
.pushed .bar:nth-of-type(2) {
  margin-left: 1.4em;
  -webkit-transform: rotate(-137deg) translateY(-1.5em);
  transform: rotate(-137deg) translateY(-1.5em);
}

/* line 305, ../sass/_styleBase.scss */
.pushed .bar:nth-of-type(3) {
  margin-left: 0.5em;
  -webkit-transform: rotate(-42deg);
  transform: rotate(-42deg);
}

/*-----------header------------*/
/* line 312, ../sass/_styleBase.scss */
header {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  border-bottom: 0.2rem solid #de1118;
  background: #364050 url("../img/bg01.png");
  padding: 1.5rem;
}

/* line 328, ../sass/_styleBase.scss */
h1 span {
  color: #de1118;
}

/* line 332, ../sass/_styleBase.scss */
header img {
  height: 3rem;
}

/*-----------HISTOIRE----------*/
/* line 337, ../sass/_styleBase.scss */
#histoire {
  padding-top: 8rem;
  background-color: #fff;
  background-image: url("../img/bg02.png");
}

/* line 343, ../sass/_styleBase.scss */
#panel h2 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
  color: black;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* line 351, ../sass/_styleBase.scss */
#menu h2 {
  font-size: 2.3rem;
  text-align: center;
  padding: 1rem;
}

/* line 357, ../sass/_styleBase.scss */
nav a {
  font-size: 2.3rem;
  color: black;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 2rem;
}

/* line 365, ../sass/_styleBase.scss */
#sous-menu li a {
  font-size: 1.7rem;
  color: gray;
}

/* line 370, ../sass/_styleBase.scss */
#sous-menu li:first-child {
  border-bottom: 1px dashed #364050;
  padding: 1rem 2rem 1rem 1rem;
}

/* line 375, ../sass/_styleBase.scss */
#sous-menu li:last-child {
  padding: 1rem 2rem 0 1rem;
}

/* line 379, ../sass/_styleBase.scss */
nav > ul > li {
  border-bottom: 1px solid #364050;
  padding: 1rem;
}

/* line 384, ../sass/_styleBase.scss */
.article h3 {
  font-size: 1.80rem;
  color: #9C9C9C;
  padding-bottom: 1rem;
  text-align: left;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* line 393, ../sass/_styleBase.scss */
.article img {
  max-width: 100%;
  display: block;
}

/* line 398, ../sass/_styleBase.scss */
.article figcaption {
  padding-bottom: 1rem;
}

/* line 402, ../sass/_styleBase.scss */
.article p {
  line-height: 3rem;
}

/* line 406, ../sass/_styleBase.scss */
.article p:first-of-type:first-letter {
  font-size: 2.5rem;
}

/* line 410, ../sass/_styleBase.scss */
.article,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
}

/* line 425, ../sass/_styleBase.scss */
.article:not(#bienEtre) {
  border-bottom: 1px solid #de1118;
}

/* line 429, ../sass/_styleBase.scss */
#bienEtre ol {
  font-size: 1.65rem;
  line-height: 3rem;
  text-align: left;
}

/*------------FOOTER-----*/
/* line 436, ../sass/_styleBase.scss */
footer {
  background: #364050 url("../img/bg01.png");
  border-top: 0.1rem solid #de1118;
  font-size: 1.65rem;
  color: #FFF;
}

/* line 443, ../sass/_styleBase.scss */
[type="text"] {
  height: 5rem;
}

/* line 447, ../sass/_styleBase.scss */
footer legend {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

/* line 453, ../sass/_styleBase.scss */
footer input {
  background: #252e3d url("../img/bg01.png");
  display: inline-block;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #17202d;
  border-radius: 3px;
  text-overflow: clip;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px 1px 1px 0px rgba(93, 104, 122, 0.6);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 1rem 0;
}

/* line 470, ../sass/_styleBase.scss */
[value="Envoyer"] {
  color: white;
  background: #de1118;
  text-transform: uppercase;
}

/* line 476, ../sass/_styleBase.scss */
.invisible {
  display: none;
}

@media screen and (min-width: 768px) {
  /* line 3, ../sass/_deviceTablet.scss */
  header {
    padding: 2rem;
  }
  /* line 5, ../sass/_deviceTablet.scss */
  header img {
    height: 3.5rem;
  }
  /* line 8, ../sass/_deviceTablet.scss */
  header h1 {
    font-size: 3.8rem;
    padding-left: 20rem;
  }

  /* line 13, ../sass/_deviceTablet.scss */
  #histoire {
    padding-top: 10rem;
  }
  /* line 15, ../sass/_deviceTablet.scss */
  #histoire figure {
    margin-right: 2rem;
  }

  /* line 19, ../sass/_deviceTablet.scss */
  .content {
    display: flex;
  }

  /* line 23, ../sass/_deviceTablet.scss */
  .article p {
    line-height: 3.5rem;
    font-size: 1.9rem;
  }
  /* line 26, ../sass/_deviceTablet.scss */
  .article p:first-of-type::first-letter {
    font-size: 3rem;
  }
  /* line 31, ../sass/_deviceTablet.scss */
  .article figure {
    flex-basis: 50%;
  }

  /* line 35, ../sass/_deviceTablet.scss */
  .flex_colum_start {
    display: block;
    flex-basis: 50%;
  }

  /* line 39, ../sass/_deviceTablet.scss */
  footer {
    display: block;
  }
  /* line 41, ../sass/_deviceTablet.scss */
  footer input {
    width: 95%;
  }
  /* line 44, ../sass/_deviceTablet.scss */
  footer label {
    font-size: 2.2rem;
  }

  /* line 48, ../sass/_deviceTablet.scss */
  legend {
    font-size: 3.2rem;
  }

  /* line 52, ../sass/_deviceTablet.scss */
  #menu h2 {
    font-size: 3rem;
  }
  /* line 56, ../sass/_deviceTablet.scss */
  #menu ul > li {
    padding: 2rem;
  }
  /* line 59, ../sass/_deviceTablet.scss */
  #menu a {
    font-size: 2.6rem;
  }
  /* line 62, ../sass/_deviceTablet.scss */
  #menu ul:nth-of-type(2) a {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  /* line 3, ../sass/_desktop.scss */
  header {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
