#about_left {
  img {
    position: relative;
    width: 100%;
    height: $h_100;
  }
  p {
    position: absolute;
    top: 40%;

    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3.6rem;
    padding: 2rem 3rem;
    border: 1rem solid black;
    color: black;
  }
}

#about_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2efe5;
  height: $h_100;
  img {
    box-sizing: content-box;
    padding: 8rem 0 3rem;

  }
  h3 {
    font-size: 1.8rem;
    margin: 0 10%;
    text-align: center;
    ~ p {
      margin: 0 10%;
      font-size: 1.6rem;
    }
  }
  p:first-of-type {
    padding-bottom: 3rem;
  }
}

#about_footer {
  background: url("../img/testimonial-1.jpg") no-repeat center/cover;
  p {
    font-size: 2.4rem;
  }
}

#newsletter {
  background: #f2efe5;
  height: $h_100;
  h3 {
    padding-top: 15rem;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 30%;

  }
  p {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0 30%;
  }
  input[type] {
    margin: 0 30%;
    border: 1px solid black;
    font-size: 1.2rem;
    width: 30rem;
    padding:1rem 0 1rem 0.5rem;
    &:last-of-type {
      border: none;
      margin-top: 2rem;
           background: #9a977a;
    }
  }
  form {
    padding-top: 5rem;
  }
}