@media screen and (min-width: 1024px) {

  html {
    height: 100%;
    position: relative;
  }

  body {
    margin: 0;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }

  section {
    display: block;
    height: 100%;
  }

  #one {
    display: block;
  }
  .fixed {
    position: relative;
    backface-visibility: visible;
  }

  video#videobg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
  }
  .container_desktop {
    margin: 0 10%;
  }

  #panel img {
    height: 40vh;
  }
  /*--------------------------------------------------*/

  /*-------------------ARROW EFFECT 1 SECTION-------------------*/

  /*--------------------------------------------------*/

  /*--------------------------------------------------*/

  .scrolldown-container {
    top: 50%;
    position: relative;
  }

  .scrolldown-container .scrolldown-btn {
    width: 50px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    fill: red;
  }

  .scrolldown-container .scrolldown-btn svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;

  }

  .scrolldown-container .scrolldown-btn svg path.first-path {
    -webkit-animation: scrollanim 1s ease-in-out infinite;
    animation: scrollanim 1s ease-in-out infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .scrolldown-container .scrolldown-btn svg path.second-path {
    -webkit-animation: scrollanim2 1s ease-in-out infinite;
    animation: scrollanim2 1s ease-in-out infinite;
  }

  @-webkit-keyframes scrollanim {
    0% {
      -webkit-transform: translate(0, -40px);
      opacity: 0;
    }
    60% {
      -webkit-transform: translate(0, 0);
      opacity: 0.8;
    }
  }

  @keyframes scrollanim {
    0% {
      -webkit-transform: translate(0, -40px);
      transform: translate(0, -40px);
      opacity: 0;
    }
    60% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0.8;
    }
  }

  @-webkit-keyframes scrollanim2 {
    0% {
      -webkit-transform: translate(0, -40px);
      opacity: 0;
    }
    60% {
      -webkit-transform: translate(0, 0px);
      opacity: 0.6;
    }
  }

  @keyframes scrollanim2 {
    0% {
      -webkit-transform: translate(0, -40px);
      transform: translate(0, -40px);
      opacity: 0;
    }
    60% {
      -webkit-transform: translate(0, 0px);
      transform: translate(0, 0px);
      opacity: 0.6;
    }
  }

  /*-----------------------------------------*/
  /*------------NAV DESSKTOP---------------*/
  /*-----------------------------------------*/

  #one {

    > h1 {
      padding: 3rem 0 3rem;
      font-size: 6rem;
      color: white;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.2);
    }
    span:first-of-type {
      color: #17202d;
    }
    span:last-of-type {
      color: #de1118;
    }
    img {
      width: 10rem;
    }
  }

  @keyframes stickAnim {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fixed_navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    animation: stickAnim 2s;
  }

  .navbar {
    position: fixed;
    padding-top: 3rem;
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    li {
      ~ li {
        padding-left: 3rem;
      }
      &:last-of-type {
        display: none;
      }
      a {
        position: relative;
        box-sizing: border-box;
        -webkit-text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
        -moz-text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
        transition: all 400ms;
        &:before {
          position: absolute;
          display: block;
          content: ' ';
          bottom: 0;
          transition: all 400ms;
        }

        &:hover:before {
          background: rgba(23, 32, 45, 1);
          background: -moz-linear-gradient(left, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23, 32, 45, 1)), color-stop(50%, rgba(23, 32, 45, 1)), color-stop(51%, rgba(222, 17, 24, 1)), color-stop(100%, rgba(222, 17, 24, 1)));
          background: -webkit-linear-gradient(left, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          background: -o-linear-gradient(left, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          background: -ms-linear-gradient(left, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          background: linear-gradient(to right, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17202d', endColorstr='#de1118', GradientType=1);
          height: 2px;
          width: 100%;
        }
        &:hover {

        }
      }
    }
  }

  .li_show {
    display: inline !important;
  }

  /*--------------------------------------------------*/
  /*-------------------------HEADER------------------*/
  /*--------------------------------------------------*/
  .fixed, .hidden, .invisible, h2 {
    display: none;
  }

  /*--------------------------------------------------------*/
  /*-------------------SECTION HISTOIRE-----------------*/
  /*--------------------------------------------------------*/
  #histoire {
    display: flex;
    padding-top: 6rem;
    article {
      width: 80%;
      &:first-of-type h3 {
        align-self: flex-end;

      }
      h3 {
        text-transform: uppercase;
      }
      p {
        display: block;
      }

    }
    .icon_sociaux {
      padding-top: 2rem;
    }
  }

  #commencement {
    .content:first-of-type {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
    article {
      text-align: right;
      text-align: -webkit-right;
    }
  }

  .open_slide {
    display: block;
  }

  /*--------------------------------------------------*/
  /*------------------SECTION REGLES-------------------*/
  /*--------------------------------------------------*/

  #regles {
    .content {
      display: flex;
      width: 80%;
    }
    .flex_colum_start {
      padding-left: 5rem;
      width: 40%;
    }
  }
  /*--------------------------------------------------*/
  /*------------------SECTION MATERIEL-------------------*/
  /*--------------------------------------------------*/
  #materiel {
    .content {
      display: flex;
      width: 80%;
    }
    .flex_colum_start {
      padding-left: 5rem;
      width: 40%;
    }
  }
  /*--------------------------------------------------*/
  /*------------------SECTION BIEN ETRE-------------------*/
  /*--------------------------------------------------*/
  #bienEtre {

    .content {
      display: flex;
      width: 80%;
    }
    .flex_colum_start {
      padding-left: 5rem;
      width: 40%;
    }
  }
  /*--------------------------------------------------*/
  /*------------------FOOTER -------------------*/
  /*--------------------------------------------------*/

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .icon_sociaux {
      margin: 0 auto;
    }
    iframe {
      width: 40%;
      display: block;
    }
    form {
      width: 30%;
      min-width: inherit;
    }
  }
  /*--------------------------------------------*/
  /*----------------SOUND VIDEO----------*/
  /*--------------------------------------------*/

  .speaker {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    left:10rem;
    top:3rem;

    span {
      display: block;
      width: 8px;
      height: 8px;
      background: #fff;
      margin: 11px 0 0 2px;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent #fff transparent transparent;
        border-width: 10px 14px 10px 15px;
        left: -13px;
        top: 5px;
      }

      &:before {
        transform: rotate(45deg);
        border-radius: 0 50px 0 0;
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-style: double;
        border-color: #de1118;
        border-width: 7px 7px 0 0;
        left: 18px;
        top: 9px;
        transition: all 0.2s ease-out;
      }
    }

    &:hover {

      span:before {
        transform: scale(.8) translate(-3px, 0) rotate(42deg);
      }
    }

    &.mute {
      span:before {
        transform: scale(.5) translate(-15px, 0) rotate(36deg);
        opacity: 0;
      }
    }
  }



}