@media screen and (min-width: 1024px) {
  @import 'https://fonts.googleapis.com/css?family=Denk+One|Oswald:700|Share+Tech';
  html {
    height: 100%;
    position: relative;
  }

  body {
    margin: 0;
    height: 100%;
    position: relative;
  }

  section {
    display: block;
    height: 100vh;
  }

  #one {
    display: block;
  }
  .fixed {
    position: relative;
    backface-visibility: visible;
  }

  video#videobg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
  }

  /*--------------------------------------------------*/

  /*-------------------ARROW EFFECT 1 SECTION-------------------*/

  /*--------------------------------------------------*/

  /*--------------------------------------------------*/

  .scrolldown-container {
    top: 50%;
    position: relative;
  }

  .scrolldown-container .scrolldown-btn {
    width: 50px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    fill: red;
  }

  .scrolldown-container .scrolldown-btn svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;

  }

  .scrolldown-container .scrolldown-btn svg path.first-path {
    -webkit-animation: scrollanim 1s ease-in-out infinite;
    animation: scrollanim 1s ease-in-out infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .scrolldown-container .scrolldown-btn svg path.second-path {
    -webkit-animation: scrollanim2 1s ease-in-out infinite;
    animation: scrollanim2 1s ease-in-out infinite;
  }

  @-webkit-keyframes scrollanim {
    0% {
      -webkit-transform: translate(0, -40px);
      opacity: 0;
    }
    60% {
      -webkit-transform: translate(0, 0);
      opacity: 0.8;
    }
  }

  @keyframes scrollanim {
    0% {
      -webkit-transform: translate(0, -40px);
      transform: translate(0, -40px);
      opacity: 0;
    }
    60% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0.8;
    }
  }

  @-webkit-keyframes scrollanim2 {
    0% {
      -webkit-transform: translate(0, -40px);
      opacity: 0;
    }
    60% {
      -webkit-transform: translate(0, 0px);
      opacity: 0.6;
    }
  }

  @keyframes scrollanim2 {
    0% {
      -webkit-transform: translate(0, -40px);
      transform: translate(0, -40px);
      opacity: 0;
    }
    60% {
      -webkit-transform: translate(0, 0px);
      transform: translate(0, 0px);
      opacity: 0.6;
    }
  }
  /*-----------------------------------------*/
  /*------------NAV DESSKTOP---------------*/
  /*-----------------------------------------*/

  #one {

    > h1 {
      padding: 3rem 0 3rem;
      font-size: 6rem;
      color: white;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.2);
    }
    span:first-of-type {
      color: #17202d;
    }
    span:last-of-type {
      color: #de1118;
    }
    img {
      width: 10rem;
    }
  }

  @keyframes stickAnim {
    0% {
      opacity: 0;
    }
    100% {
      opacity:1;
    }
  }
  .fixed_navbar{
    position:fixed !important;
    z-index:1000;
    animation: stickAnim 2s;
    top:0;
  }
  #navbar {
    position: relative;
    padding-top: 3rem;
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);

    li {
      ~li{
        padding-left: 10rem;
      }
      a {
        position: relative;
        box-sizing: border-box;
        -webkit-text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
        -moz-text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
        transition: all 400ms;
        &:before {
          position: absolute;
          display: block;
          content: ' ';
          bottom: 0;
          transition: all 400ms;
        }

        &:hover:before {
          background: rgba(23, 32, 45, 1);
          background: -moz-linear-gradient(left, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23, 32, 45, 1)), color-stop(50%, rgba(23, 32, 45, 1)), color-stop(51%, rgba(222, 17, 24, 1)), color-stop(100%, rgba(222, 17, 24, 1)));
          background: -webkit-linear-gradient(left, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          background: -o-linear-gradient(left, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          background: -ms-linear-gradient(left, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          background: linear-gradient(to right, rgba(23, 32, 45, 1) 0%, rgba(23, 32, 45, 1) 50%, rgba(222, 17, 24, 1) 51%, rgba(222, 17, 24, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17202d', endColorstr='#de1118', GradientType=1);
          height: 2px;
          width: 100%;
        }
        &:hover {

        }
      }
    }
  }
  /*--------------------------------------------------*/
  /*-------------------------HEADER------------------*/
  /*--------------------------------------------------*/
  .fixed,.hidden,.invisible,h2 {
    display: none;
  }
}



