/*Regles communes*/
@import "https://fonts.googleapis.com/css?family=Denk+One|Oswald:700|Share+Tech";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif; }

body,
form {
  line-height: 1;
  font-family: 'Share Tech', sans-serif; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: .625em;
  font-size: calc(1em * .625); }

a {
  text-decoration: none;
  color: inherit;
  outline-style: none; }

h1 {
  font-family: 'Denk One', sans-serif;
  font-size: 3rem;
  color: white;
  padding-left: 5rem; }

p {
  font-size: 1.65rem; }

body {
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  background-image: url("../img/bg02.png"); }

.container {
  padding: 0 3rem; }

.flex_colum_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

/*------effet slide---------*/
#panel {
  box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.5); }

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 25.6rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.toggle-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding-left: 1rem;
  outline: none; }

.fixed {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  z-index: 2;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  width: 100%; }

.fixed-open {
  -webkit-transform: translate3d(256px, 0px, 0px);
  transform: translate3d(256px, 0px, 0px); }

#nav-container {
  /*position: absolute;*/
  font-size: 0.8rem; }

/*toggle-icon*/
.toggle-icon {
  display: block;
  position: relative;
  /*width: 100%;
  margin: -2.2em auto 0 0.2em;*/
  -webkit-transition: margin 300ms;
  transition: margin 300ms;
  cursor: pointer; }

.toggle-icon .bar {
  display: block;
  width: 3.8em;
  height: 0.2em;
  margin: 0.9em;
  border-right: 2.8em solid #fff;
  border-left: 0.6em solid #d6d6d6;
  box-sizing: border-box;
  -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
  -webkit-transition-property: margin, border-right-color, box-shadow, -webkit-transform;
  transition-property: margin, border-right-color, box-shadow, -webkit-transform;
  transition-property: transform, margin, border-right-color, box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms; }

.toggle-icon .bar:nth-of-type(1) {
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms; }

.toggle-icon .bar:nth-of-type(2) {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

/*pushed*/
.pushed .toggle-icon {
  margin: -3.2em 0 0 0.7em; }

.pushed .bar:nth-of-type(1) {
  opacity: 0; }

.pushed .bar:nth-of-type(2) {
  margin-left: 1.4em;
  -webkit-transform: rotate(-137deg) translateY(-1.5em);
  transform: rotate(-137deg) translateY(-1.5em); }

.pushed .bar:nth-of-type(3) {
  margin-left: 0.5em;
  -webkit-transform: rotate(-42deg);
  transform: rotate(-42deg); }

/*-----------header------------*/
header {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  border-bottom: 0.2rem solid #de1118;
  background: #364050 url("../img/bg01.png");
  height: 5rem; }

h1 span {
  color: #de1118; }

header img {
  height: 3rem; }

/*-----------HISTOIRE----------*/
#histoire {
  padding-top: 8rem;
  background-color: #fff;
  background-image: url("../img/bg02.png"); }

#panel h2 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
  color: black;
  -ms-flex-item-align: start;
  align-self: flex-start; }

#menu h2 {
  font-size: 2.3rem;
  text-align: center;
  padding: 1rem; }

nav a {
  font-size: 2.3rem;
  color: black;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 2rem; }

#sous-menu li a {
  font-size: 1.7rem;
  color: gray; }

#sous-menu li:first-child {
  border-bottom: 1px dashed #364050;
  padding: 1rem 2rem 1rem 1rem; }

#sous-menu li:last-child {
  padding: 1rem 2rem 0 1rem; }

nav > ul > li {
  border-bottom: 1px solid #364050;
  padding: 1rem; }

.article h3 {
  font-size: 1.80rem;
  color: #9C9C9C;
  padding-bottom: 1rem;
  text-align: left;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.article img {
  max-width: 100%;
  display: block; }

.article figcaption {
  padding-bottom: 1rem; }

.article p {
  line-height: 3rem; }

.article p:first-of-type:first-letter {
  font-size: 2.5rem; }

.article,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem; }

.article:not(#bienEtre) {
  border-bottom: 1px solid #de1118; }

#bienEtre ol {
  font-size: 1.65rem;
  line-height: 3rem;
  text-align: left; }

/*------------FOOTER-----*/
footer {
  background: #364050 url("../img/bg01.png");
  border-top: 0.1rem solid #de1118;
  font-size: 1.65rem;
  color: #FFF; }

[type="text"] {
  height: 5rem; }

footer legend {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem; }

footer input {
  background: #252e3d url("../img/bg01.png");
  display: inline-block;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #17202d;
  border-radius: 3px;
  text-overflow: clip;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px 1px 1px 0px rgba(93, 104, 122, 0.6);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 1rem 0; }

[value="Envoyer"] {
  color: white;
  background: #de1118;
  text-transform: uppercase; }

.invisible {
  display: none; }

/*# sourceMappingURL=style.css.map */
