#bestseller {
  display: flex;
}

.bestseller_g {
  width: 50%;
}

.bestseller_d {
  width: 50%;
  background: url(../img/sale.png) no-repeat top right #e6ddda;
  padding: 2vw 3vw 1vw;
  position: relative;
  &:before {
    position: absolute;
    top: 30%;
    left: -20px;
    z-index: 1;
    content: url(../img/fleche.png);
  }
  h2 {
    font-size: 3.5vw;
    line-height: 2rem;
    font-weight: normal;
  }
}

.designer {
  font-size: 1rem;
  font-style: italic;
  color: #987f77;
}
.price{
    font-size: 5rem;
    font-weight: bold;
  color: black;
}