header {
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  li {
    display: inline-flex;
  }
  .nav {
    background: #181818;
    font-size: 1.2em;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-right: 3%;
    text-transform: uppercase;
      a {
        padding: 6px 15px;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
      }
  }
}